<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-cam Live Streams</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='multicam.css') }}">
</head>
<body>

    <div class="back-button">
        <a href="{{ url_for('home') }}">&larr; Back</a>
    </div>


    <div class="streams-container">
   
        <div class="stream">
            <h2>NASASpaceFlight 24/7</h2>
            <iframe src="https://www.youtube.com/embed/mhJRzQsLZGg?autoplay=1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="stream">
            <h2>LabPadre NerdleCam</h2>
            <iframe src="https://www.youtube.com/embed/qAK_A_Owe6M?si=ZHcVCFOjkA4WCllq" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="stream">
            <h2>LabPadre RoverCam</h2>
            <iframe src="https://www.youtube.com/embed/tS2PHJmvJzo?si=mBfqTQbc12gX8LqF" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="stream">
            <h2>LabPadre SentinelCam</h2>
            <iframe src="https://www.youtube.com/embed/IQV0DlS1Ew0?autoplay=1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
